@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fond global réel du document (visible pendant l’overscroll) */
html, body {
  background-color: #101010; /* couleur dark mode souhaitée */
}

/* Style global léger pour le texte */
body {
  @apply text-slate-100;
}

